[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipython = "*"
pytest = "*"
jupyter = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
numpy = "*"
pillow = "*"
tqdm = "*"
netron = "*"
nltk = "*"
cython = "*"
tensorboard = "*"
pycocotools = "*"
#mAP = {git = 'https://github.com/petersiemen/mAP.git',ref = 'master',editable = true}
onnx-coreml = {git = 'https://github.com/onnx/onnx-coreml.git',ref = 'master',editable = true}
##onnxmltools = "*"
##onnxmltools = {git = 'https://github.com/onnx/onnx-coreml.git',ref = 'master',editable = true}
coremltools = "*"
#coremltools = {git= 'https://github.com/apple/coremltools.git', ref = 'master', editable = true}
terminaltables = "*"
tensorboardcolab = "*"
pandas = "*"
seaborn = "*"
neptune-client = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
